#header {
    background-image: url("/headerBackground.png");
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    height: 50px;
}
#logo {
    height: 50px;
}
#profile {
    right: 0;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
* {
    font-family: 'Comic Sans MS', cursive;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}